{% extends "users/layout.html" %} {% block body %} {% if message %}
<div>{{message}}</div>
{% endif %}
<h1>Login</h1>
<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    id="username"
    placeholder="Username"
    autofocus
  />
  <label for="password">Password</label>
  <input type="password" name="password" id="password" placeholder="Password" />
  <input type="submit" value="Login" />
</form>
{% endblock %}
